.show-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.show-wrapper{
    
}
.show-img-full{
    height: 600px;
    width: 80%;
    min-width: 1000px;
    max-width: 1300px;
    object-fit: fill;
}
.showpage-columns{
    display: flex;
    width: 100%;
    justify-content: center;
}
.wrapper-1000{
    width: 1000px;
     display: flex;

    justify-content: center;
}
.show-details-contianer{
    width: 700px;
}
.price-show-container{
    
    width: 300px;
    border: 1px lightgray solid;
}

.instant-book{
    display: flex;
}

.dates-guests{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.instant-book-btn{
    border: 0px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    height: 50px;
    width: 100%;
    background-color: transparent;
    padding: 13px;
    
}
.instant-book-btn:hover{
    background-color: lightgray;
    margin: 0px;
    cursor: pointer;

}
.instant{
    margin:20px;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(43, 206, 152);;
}
.instant:hover{
    background-color: white;
    color: rgb(43, 206, 152);
}

.price-title h2{
    margin-bottom: 0px;
}


.wrapper-600px{
    display: flex;
    
    height: 100%;
    
}
.host-details{
    margin-top: 20px;
    border-top: 1px lightgray solid;
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 100%;
}
.host-name-photo{
    width: 200px;
}
.spot-description{
    width: 400px;
    padding:10px;
    font-size: 20px;
}

.spot-info{
     margin-top: 20px;
    border-top: 1px lightgray solid;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.spot-info-list{
    margin: 20px;
    border: 1px lightgray solid;
    list-style-type: none;
    width: 200px;
    padding: 10px;
    padding-left: 20px;
    height: 400px;
}
.host-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

