.show-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.galery-continer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.show-wrapper{
    
}
.show-img-full{
    height: 600px;
    
    min-width: 1000px;
    max-width: 1300px;
    object-fit: fill;
}
.showpage-columns{
    display: flex;
    width: 100%;
    justify-content: center;
}
.wrapper-1000{
    width: 1200px;
     display: flex;

    justify-content: center;
}
.show-details-contianer{
    width: 700px;
}
.price-show-container{

    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    /* height: 230px; */
    border: 1px lightgray solid;
}

.column-filler{
    position: relative;
    width: 300px;
    margin: 0px;
    padding: 0px;


}
.sub-total{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 60px;

    justify-content: space-around;
}

.instant-book{
    display: flex;

}

.dates-guests{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
}

.instant-book-btn{
    border: 0px;
    padding: 5px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    height: 70px;
    width: 100%;
    background-color: transparent;

    
}
#startDate{
    border-right: 1px lightgray solid;

    
}
.pad-10{

    padding:10px;
}
.opa-0{
    opacity: 0;
}

.fade-inout{
    opacity: 0;
    font-weight: bold;
    animation: fadeinout 3s linear 1s backwards ;
}

.num-guests{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    border-top: 1px lightgray solid;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
.disable-inner input[type=number]::-webkit-inner-spin-button {
    opacity: 0
}


input[type=number]::-webkit-inner-spin-button:hover {
    cursor: pointer;
}
input[type=number],
textarea {
    font-size: 24px;
    padding: 10px;
    
    color: rgb(0,0,0,0);
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}
#quantity{
    font-family: inherit;
    font-size: 15px;
    margin-left: 10px;
    border: 0px;

}
input:focus{
    outline: none;
}
input:active{
    outline: none;
}
.instant-book-btn h3{
    margin: 0;
}
.instant-book-btn:hover{
    background-color: lightgray;
    margin: 0px;
    cursor: pointer;

}
.instant{
    margin: 5px;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(43, 206, 152);;
}
.instant:hover{
    background-color: white;
    color: rgb(43, 206, 152);
    cursor: pointer;
}
.price-title{
    display: flex;
    padding: 10px;
   
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.price-title h2{
    margin: 0;


}


.wrapper-600{
   width: 800px;
    
}
.host-details{
    margin-top: 20px;
    border-top: 1px lightgray solid;
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 100%;
}
.host-name-photo{
    width: 200px;
}
.spot-description{
    width: 400px;
    padding:10px;
    font-size: 20px;
}

.spot-info{
     margin-top: 20px;
    border-top: 1px lightgray solid;
    display: flex;
    justify-content: flex-start;

    width: 100%;
}
.spot-info-list{
    
    margin: 20px;
    border: 1px lightgray solid;
    list-style-type: none;
    width: 200px;
    padding: 10px;
    padding-left: 20px;
    height: 320px;
}
.spot-info-list ul{
    list-style: none;
    padding: 0;
    
    margin: 0;
}
.spot-info-list i{
    
}

.spot-info-list li {
padding-top: 10px;
font-size: 15px;
}
.host-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.gallery-img-show{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}



.activity-icons{
    height: 300px;
    width: 600px;
}
.details-spot{
    
    width: 100%;
    
    border-top: 1px lightgray solid;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
   
}
.icon-activities{
    width: 50px;
    height: 50px;
}
.col{
    padding: 20px;
    text-align: left;
    width:200px;
    font-size: 15px;
}

.short-col{
    width: 20%;
    font-weight: bolder;
}
.col-3{
    width: 40%
}


.activity-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blackish-modal{
    
   opacity: .9;
   background-color: black;
    
}

.goAWAY{
    background-color: transparent;
    border: 0px;
    
    background-color: black;
}


.pleaseGoAway{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}



.gallery-modal-child {
    position: absolute;
  left: 50%;
  top: 50%;
  
  /*
  Nope =(
  margin-left: -25%;
  margin-top: -25%;
  */

  /* 
  Yep!
  */
  transform: translate(-50%, -50%);

    z-index: 11;


}
#gallery-img{
    width: 1000px;
    object-fit: contain;


}

.activity-descrition{
    float: left;
    width: 200px;
    height: 300px;
    border: 1px black solid;
    margin: 10px;
    margin-left: 30px;
    padding:10px;
}

.reviews{
    font-size: 14px;
}

.review-container{
    display: flex;
    justify-content: center;
    border-top:0px;
    border-bottom: 1px lightgray solid;
    width: 100%;
    height: 250px;
}
.act-wrapper{
    height: 100%;
}


.list-icon{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    object-fit: contain ;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.view-booking{
    background-color: rgb(187, 24, 187);
    border: 2px rgb(187, 24, 187) solid;
    width: 280px;
}
.view-booking:hover{
    color: rgb(187, 24, 187);
}
.red{
    color: red;
    outline: 1px red, solid;
}

.close{
    display: none;
}
.open{
    display: flex;
}

@keyframes fadeinout{
    0% {opacity: 0;}
    50% {opacity: 1;}
    0% {opacity: 0;}
}