

footer{
    display:flex;
    justify-content: center;
    background-color: black;
    
}
.footer-container{
    display: flex;
    /* position: absolute; */
    /* bottom: 0px;; */
    width: 1000px;
    padding-left:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    /* padding-left: 40px;
    padding-right: 40px; */
    height: 70px;
    background-color: black;
    color: white;
}

.help-button{
    padding: 13px;
    /* margin-right: 100px; */
    width: 80px;
    position: fixed;
    right:100px;
    bottom: 10px;
    background-color: aquamarine;
    border-radius: 20px;
    border: none;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
   
}

.help-button:hover{
    cursor: pointer;
    background-color: white;
    
}
.help-button:focus{
    outline: none;
    
}