

footer{
    display:flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    
}
.footer-container{
    display: flex;
    /* position: absolute; */
    /* bottom: 0px;; */
    width: 1000px;
    padding-left:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    /* padding-left: 40px;
    padding-right: 40px; */
    height: 70px;
    background-color: black;
    color: white;
}

.help-button{
    padding: 13px;
    /* margin-right: 100px; */
    width: 100px;
    position: fixed;
    font-weight: bold;
    color: rgb(45, 95, 79);
    right: 10px;
    bottom: -80px;
    background-color: rgb(43, 206, 152);
    border-radius: 20px;
    border: none;
    animation: flyin-bottom .4s linear 3s 1 forwards ;
    transition-timing-function: ease-in-out;
   
}

.help-button:hover{
    cursor: pointer;

    
}
.help-button:focus{
    outline: none;
    
}

.covid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgb(199, 175, 131);
}

.warning{
    padding: 20px;
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.warning button{
    height: 30px;
    border: black 1px solid;
    margin: 20px;
    border-radius: 25px;
    width: 100px;
    background-color: black;
    color: white;
    transition: .25s;
    transition-timing-function: ease-in-out;
}
.warning button:hover{
    color: black;
    background-color: lightgray;
    cursor: pointer;
}