.planets-wrapper{
    width: 100%;
    height: 300px;
    /* padding-top: 50px;
    padding-bottom: 0px; */
    /* padding-top: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.planets-container{
    width: 100%;
    
    padding-bottom: 0px;
    /* padding-top: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.img-links .planet-link-image:hover{
    margin-bottom: 10px;
}

.available-spot{
    height: 390px;
    border: 1px solid black;
    color: black;
    transition: 0.25s;
    h2{
        margin-bottom: 2px;
    }
    div img {
        object-fit: cover;
    }
    transition-timing-function: ease-in-out;
}
.available-spot:hover{
    margin-bottom: 10px;
}