body, main{
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
    background-color:white;
}
button:focus{
    outline: none;
}

header{
    display: flex;
    height: 60px;
}
.logout{
    border-bottom: none;
}
.logout:hover{
    border: none;
}

.splash-container{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* padding-top:130px; */
    /* top: 150px; */
    /* margin-bottom: 80px; */
    /* padding-bottom: 80px; */
}
.search{
    font-size: 30px;
}

.navbar{
    display: flex;
    position: fixed;
    top:0;
    align-items: center;
    width:100%;
    background-color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.links{
    padding-right: 20px;
    position: absolute;
    display: flex;
    right: 0;
    align-items: center;
    
}
.moon{
    width: 30px;
    height: 30px;
    padding-left: 10px;
    opacity: 1;

}
.moon:hover{

   opacity: .5;
}

.dropdown-user{
    display:none;
    position: absolute;
    width: 250px;
    /* height: 300px; */
    padding:0;
    margin: 0;
    /* text-align: left; */
    padding-top: 10px;
    right:-50px;
    top: 43px;
    background-color: white;
    /* border-radius: 4px; */
    border: 1px solid lightgray;
    /* border-top:0px; */
    list-style: none;
    transition: ease-in-out;
    transition-timing-function: .25s;
    
    
    
}
.dropdown-user ul{
    margin: 0;
    /* padding:15px; */
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    text-align: left;

}
.dropdown-user li{
    padding-top: 10px;
    color: lightgray;
    height: 30px;
    padding-left:15px;
    transition-timing-function: .25s;
     transition: ease-in-out;

}

.dropdown-user li:not(:last-child){

    border-bottom: lightgray solid 1px;
}
.dropdown-user li:hover{
    /* background-color: lightgray; */
    padding-left: 20px;
   
}

.dropdown-user li:hover:not(:last-child) {
   
    /* padding-top: 10px; */
    /* height: 50px; */

    border-bottom: gray solid 1px;
}
.dropdown-user ul:hover > .moon{
    /* padding-top: 10px; */
    /* height: 50px; */
    /* background-color: lightgray; */
    opacity: .3;
}
.dropdown-user a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
}
.dropdown-user a:hover{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.logged-in-dropdown:hover > .dropdown-user{
    width: 200px;
   display: block;
}

.nav-bar-logo{
    color: rgb(113, 65, 158);
    padding-left: 30px;
    font-size: 18px;
    text-decoration: none;
}
.nav-bar-logo:hover{
    cursor: pointer;
}

.user-button{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    border: none;
    color: rgb(75, 75, 75);
    border-bottom: 2px white solid;
    background-color: transparent;
    font-size: 15px;
    transition: 0.25s;
}
.user-button:hover{
    cursor: pointer;
    /* padding: 10px; */
    border-bottom: 2px lightpink solid;

    /* box-shadow: 0px 5px 0px -2px red; */
    /* color: white; */
    transition-timing-function: ease-in-out;
}

.user-button:focus{
    outline: none;
}
.logout{
    /* background-color: aquamarine; */
   
}

.activities-container{
    width: 100%;
    height: 500px;
    margin-top:50px;
    padding-bottom: 20px;
    /* padding-top: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.activity-link-image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 500px;
    overflow: hidden;
    background-color: black;
    border: 1px black solid;
    box-shadow: black;
    transition: 0.35s;
    transition-timing-function: ease-in-out;
    
}
.planet-link-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: black;
    border: 1px black solid;
    box-shadow: black;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    
}


.img-links{
    color: white;
    text-decoration: none;
    transition: 0.35s;
    transition-timing-function: ease-in-out;

    
   
}

.space-container{
    margin-top: 220px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-image: url('https://moonburyrings.co.uk/wp-content/uploads/2019/06/astronaut-with-mobile-phone-on-moon-vector-18479312.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;

   
}
#img-1:hover{
    margin-bottom: 10px;
}
#img-2:hover{
    margin-bottom: 10px;
}
#img-3:hover{
    margin-bottom: 10px;
}
.img-links:hover > .activity-link-image {
    opacity: .8;
    margin-top: 10px;
    
}
/* .img-links:hover > .planet-link-image {
    opacity: .8;
    
} */
.worf{
    position: absolute;
    left:0;
    margin-top: 20px;
    width: 300px;
    height: 400px;
    /* border-radius: 25px; */
    object-fit:cover;
    /* background-image: url('https://cnet4.cbsistatic.com/img/r-p-OqNgNZMOl62QZqWFWkgaQa0=/940x0/2016/09/02/41f02b67-d8ff-4179-8c32-a0f0c5bdfd7f/tng-worf00000993d.jpg'); */
    background-size: cover;
    background-position: center;
}
.space-image{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 50px;
    height: 500px;
    color:white;
    width: 900;
    box-sizing: border-box;
}
.worf-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding-top: 50px; */
    font-size: 50px;
    /* height: 500px; */
    color:white;
    width: 900;
    box-sizing: border-box;
}
.moon-highlight{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    /* opacity: 0.7; */
    justify-content: flex-start;
    /* background-image: url('https://sophyanempire.files.wordpress.com/2013/07/orson_scott_cards_speaker_for_the_dead_vol_1_3.jpg'); */
    background-image: url('https://www.syfy.com/sites/syfy/files/styles/1200x680_hero/public/wire/legacy/adlunbase.jpg');

    background-size: cover;
    
    background-position: center;
    /* border-radius: 0px; */
}

.host-review-container{
    margin-top: 50px;
    margin-bottom: 200px;
    display: flex;
    /* padding-bottom: 100px; */
    justify-content: center;
    align-items: center;
    /* border: black 1px solid; */
    height: 500px;
    /* background-image: url('https://cdn.arstechnica.net/wp-content/uploads/2012/08/bridge.replica.replica.jpg'); */
    background-size: cover;
    background-position: center;
    /* border-radius: 25px; */
}

.detail-container{
    margin-left: 60px;
    padding-left:30px;
    width: 364px;
    height: 365px;
    display: inline;
    text-align: left;
    background-color: rgb(138, 115, 177);
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    padding-right:24px;
}

.detail-container-worf{
    margin-left: 50px;
    padding:10px;
    background-image: url('https://d.newsweek.com/en/full/1574814/star-trek-picard-season-3-worf.jpg?w=1600&h=1600&l=51&t=34&q=88&f=9776e93300c68c7078ed98f45b2c2ae4');
    font-size: 15px;
    border-radius: 7px;
    background-size: cover;
    color: black;
}
.detail-container h3{
    
    font-size: 27px;
}
.detail-container button{
    background-color: white;
    border: none;
    padding: 15px;
    height: 60px;
    border-radius: 5px;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}
.detail-container button:hover{
    /* background-color: aquamarine;
    color: white; */
    cursor: pointer;
}
.detail-container button:focus{
    outline: none;
    
}

.img-contain{
    object-fit:contain;
}

.unfixed{
    position: relative;
}
.offset{
    background-color: transparent;
    text-align: justify;
    width: 500px;
    /* justify-content: right; */
}
#offset-btn{
    background-color: rgb(43, 206, 152);
    border-radius: 0px;
}


.font-small-gray{
    font-size: 12px;
    color: lightgray;
}

.demo-btn{
    color: white;
    background-color: rgb(43, 206, 152);
    height: 38px;
    border-radius: 3px;
    width: 80px;
    border: 2px rgb(43, 206, 152) solid;
}
.demo-btn:hover{
    color: rgb(43, 206, 152);
    height: 38px;
    background-color: white;
    border: 2px rgb(43, 206, 152) solid;
}


#picard-img{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://miro.medium.com/max/2262/1*ekbjEK4WrhaU5jCO-I9QTw.jpeg');
    background-size: cover;
    background-position-x: -200px;
}

#rover-img{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://upload.wikimedia.org/wikipedia/commons/e/ed/Apollo15LunarRover.jpg');
    background-size: cover;
    background-position-x: -200px;
}
#golf-img{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://i.ytimg.com/vi/GtI9krmKQ7E/maxresdefault.jpg');
    background-size: cover;
    background-position-x: -400px;
    
}

#jupiter{
    background: url('https://www.universetoday.com/wp-content/uploads/2019/06/pia22949.jpg');
    background-size: cover;
}
#europa{
    background: url('https://upload.wikimedia.org/wikipedia/commons/e/e4/Europa-moon-with-margins.jpg');
    background-size: cover;
}
#earth{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://cdn.mos.cms.futurecdn.net/yyvvM9kwaVGySFE6aXXoJL.jpg');
    background-size: cover;
    background-position-x: -30px;
}