.spots-search-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 1200px;

}
.spots-search-wrapper{
    display: flex;
    justify-content: space-between;

   
}
.maps-search-view{
    display: flex;
    justify-content: center;
}
.spots-wrapper{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* width: 600px; */
}


.spots-index{
    height: 100%;
   width: 1000px;
   /* margin: 10px; */

}

.spots-wrapper{
    display: flex;
     flex-wrap: wrap;
}
.single-spot-contain{
   
    width: 350px;
    padding: 5px;
}

.filter-top{
    padding-top: 0px
}

.button-icon{
    width: 15px;
    height: 15px;
    padding-right:5px;
}