.spots-search-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 1100px;

}
.spots-search-wrapper{
    display: flex;
    justify-content: center;

   
}
.maps-search-view{
    display: flex;
    justify-content: center;
}
.spots-wrapper{
    display: flex;
   
    /* flex-direction: column; */
    /* width: 600px; */
}


.spots-index{
    height: 100%;
   width: 620px;
   /* margin: 10px; */

}

.spots-wrapper{
    display: flex;
     flex-wrap: wrap;
}
.single-spot-contain{
    width: 280px;
    padding: 5px;
}

.filter-top{
    padding-top: 0px
}