.spots-search-container{
    display: flex;
    justify-content: center;
    width: 1100px;

}
.spots-search-wrapper{
    display: flex;
    justify-content: center;

   
}
.maps-search-view{
    display: flex;
    justify-content: center;
}
.spots-wrapper{
    display: flex;
    flex-direction: column;
    /* width: 600px; */
}


.spots-index{
    width: 50%;

}

.spots-wrapper{
    display: flex;

}
