.offset-frame{
    width: 800px;
    height: 350px;
    border: lightgray solid 1px;
}

.offset-text{
    text-align: center;
}
.offset-text p{
    color: gray;
}
#offset-btn{
    position: absolute;
    bottom: 45px;
    color: white;
    border: aquamarine 2px solid;
}
#offset-btn:hover{
    position: absolute;
    bottom: 45px;
    background-color: white;
    border: aquamarine 2px solid;
    color: aquamarine;
}
#offset-btn-2{
    right: 200px;
    position: absolute;
    bottom: 45px;
    border-radius: 2px;
    border: lightgray 1px solid;
}
#offset-btn-2:hover{
    color: aquamarine;
    border: aquamarine 1px solid;
}
.picard{
    border-color: aquamarine;
    border: 3px  aquamarine solid;
}

.picard img{
    box-shadow: 1px 1px 2px 1px lightgray;
}
.picard-img:hover{

}
#login-picard{
    width: 500px;
    background-color: transparent;
}
#login-picard p{
    font-size: 18px;
}