.elevator-pitch{
    width: 700px;
    padding-top:150px;
}
.elevator-pitch h1{
    font-size: 35px;
    font-weight: bold;
}
.elevator-pitch h3{
    font-size: 25px;
    font-weight: bold;
}
.elevator-container{
    width:1000px;
    /* margin-top: 200px; */
    display: inline;
   
}