/* .modal-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-overlay {
	position: fixed;
	background: rgba(255, 255, 255, 0.8);
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	width: 100%;
	height: 100%;
}
.hidden{
    display: none;
}
.show{
    display: flex;
} */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.modal-child {
  position: absolute;
    margin: 0;
  left: 41%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
  transition-timing-function: ease-in-out
}

.login-form-box input{
    position: relative;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    
    
}
.other-form{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    transition: 0.25s;
}
.other-form:hover{
    color: gray;
    transition-timing-function: ease-in-out;
}

.login-form-container{
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 200px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:50px;
    padding-top:30px;
    background-color: black;
    color:white;
    border-radius: 5px;
    z-index: 1;
}
.login-form-box label{
    display: flex;
    justify-content: center;
    

}
.login-form-container input{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.login-form-container input:focus{
    border: none;
    outline: none ! important;
}
.login-form-container input[type="text"]{
    font-size: 15px;
    text-align: center;
}
.login-form-container input[type="password"]{
    font-size: 15px;
    text-align: center;
}

.session-submit{
    width: 100%;
    font-size: 15px;
    margin-top: 15px;
    padding-top:50px;
    background-color: lightpink;
    border-radius: 5px;
    transition: 0.25s;
}
.session-submit:hover{
    background-color: aquamarine;
     transition-timing-function: ease-in-out;

}
.errors{
    color: rgb(255, 107, 107);
    font-weight: bold;
    font-size: 15px;
}
.signupError{
    color: rgb(255, 107, 107);
}

.modal-close{
    color: white; 
    
    width: 100%;
    right: 0;
    padding-top: 20px;
    margin-top: 30px;
    height: 200px;
    /* float: right; */

    
}
.modal-close:hover{
    color:gray;
    cursor: pointer;
}
