.recent-views{
    margin-top: 20px;
    
}
.recent-views-wrapper{
    display: flex;
    justify-content: space-around;
    display: relative;
    padding:0;
    margin:0;
    padding-bottom: 100px;
    
    
    /* box-sizing: border-box; */
    
}
.recent-view-space{
    margin-top: 100px;
    border-radius: 15px;
}

.recent-views-container{
    /* border: 1px solid; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 5px rgb(197, 197, 197);
}   
.spots-img{
    
    width: 300px;
    height: 200px;
    
    object-fit: cover;
    /* background-color: lightslategrey; */
    /* box-sizing: border-box; */
}

.spot-details{
    
    height: 100px;
    background-color: white;
    text-decoration: none;
    margin: 0;
    color: black;
}
.spot-details h3,p{
    margin:0;
    

}
.spot-details:hover{
    background-color: rgb(238, 238, 238);
}

.spot-data{
/* position: relative; */
display: flex;
height: 30px;
/* padding-bottom: 20px; */
justify-content: space-around;
align-items: flex-end;

}
