.signup-page-container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background: black;
  z-index: 10;
  animation: fadein .75s linear 10ms backwards ;
  transition: .25s;
  transition-timing-function: ease-out;

}

.form-top-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.form-top-container input[type="text"]{
    display: flex;
    justify-content: space-between;
    width: 120px;
    text-align: left;
}

@keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeout{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeinout{
    0% {opacity: 1;}
    100% {opacity: 0;}
    0% {opacity: 1;}
}