.signup-page-container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background: black;
  /* z-index: 10; */
  /* animation: fadein 1s linear  backwards ; */

}

@keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeout{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeinout{
    0% {opacity: 1;}
    100% {opacity: 0;}
    0% {opacity: 1;}
}