.signup-page-container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  /* min-height: 720px; */
  background: black;
  z-index: 0;
  animation: fadein .75s linear 10ms backwards ;
  transition: .25s;
  transition-timing-function: ease-out;

}

.min-height{
    position: relative;
    height: 720px;
}
.no-margin{
    margin:0;
}

.form-top-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}
.form-title-container p{
    color: gray;
    
}
.form-top-container input[type="text"]{
    display: flex;
    justify-content: space-between;
    width: 130px;
    text-align: left;
}

.form-title-container{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.signup-placeholder input[type="text"]{
    text-align: left;
    font-weight: normal;
    
}
.signup-placeholder input[type="password"]{
    text-align: left;
    font-weight: normal;
    
}

.signup-placeholder input[type="text"]::placeholder{
    color: lightgray;
   font-weight: normal;;

}
.signup-placeholder input[type="password"]::placeholder{
    color: lightgray;
    font-weight: normal;

}
@keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeout{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeinout{
    0% {opacity: 1;}
    100% {opacity: 0;}
    0% {opacity: 1;}
}