body, main{
    padding: 0;
    margin: 0;
    font-family: Quicksand, sans-serif;
    background-color:white;
}

header{
    display: flex;
}
.search{
    font-size: 30px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    background-color: aquamarine;
    padding: 0;
    margin: 0;


}
.logo{
    color: white;
}
.logout{
    background-color: aquamarine;
    border: 0px;
}
.user-button{
    padding: 10px;
    text-decoration: none;
    border: 1px, red, solid;

    font-size: 20px;
    transition: 0.25s;
}
.user-button:hover{
    padding: 10px;
    border-bottom: 5px lightpink solid;

    /* box-shadow: 0px 5px 0px -2px red; */
    color: white;
    transition-timing-function: ease-in-out;
}

.login-form-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:50px;
    padding-top:30px;
    background-color: black;
    color:white;
    border-radius: 5px;
    z-index: 1;
}
.login-form-box label{
    display: flex;
    justify-content: center;
    

}

.login-form-box input{
    position: relative;
    padding: 15px;
    width: 300px;
    box-sizing: border-box;
    
}


.session-submit{
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    background-color: lightpink;
    border-radius: 5px;
    transition: 0.25s;
}
.session-submit:hover{
    background-color: aquamarine;
     transition-timing-function: ease-in-out;

}

.activities-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.activity-link-image{
    width: 375px;
    height: 600px;
    background-color: bisque;
    border: 1px black solid;
    box-shadow: black;
}