.recent-views{
    margin-top: 20px;
    
}
.spots-wrapper{

    display: relative;
    width: 750px;
    padding:0;
    margin-right:20px;
    padding-bottom: 100px;
    
    
    /* box-sizing: border-box; */
    
}
.recent-view-space{
    margin-top: 100px;
    border-radius: 15px;
}

.recent-views-container{
    width: 375px;
   border-radius: 5px;
    overflow: hidden;
  
    box-shadow: 2px 4px 10px 5px rgb(197, 197, 197);
}   
.spots-img{
    
    width: 375px;
    height: 175px;
    overflow: hidden;
    object-fit: cover;
    /* background-color: lightslategrey; */
    /* box-sizing: border-box; */
}


.spot-details{
   
    height: 100px;
    background-color: white;
    text-decoration: none;
    margin: 0;
    color: black;
}
.spot-details h3,p{
    margin:0;
   
    

}

.obj-fill{
    object-fit: cover;
    width: 300px;
}
.spot-details:hover{
    background-color: rgb(238, 238, 238);
}

.spot-data{
/* position: relative; */
display: flex;
height: 30px;
padding: 10px;
    
/* padding-bottom: 20px; */
justify-content: space-between;
align-items: flex-end;

}

.green{
    font-weight: bold;
    color: rgb(12, 177, 127);
}
.red{
    font-weight: bold;
    color: rgb(182, 4, 4);
}


.show-container{
    width: 500px;
    height: 500px;
    
    background-color: black;
    color:white;;
}

.spot-search-index{
    width: 1200px;
    min-height: 100vh;
}

.filter-form{
    width: 100%;
    margin:20px;
    justify-content: flex-start;
    height: 70px;

}
.filter-form{
    width: 100%;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;

}

.filter-btn{
    color: gray;
    display: flex;
    align-items: center;
    padding:15px;
    background-color: white;
   margin:10px;
    border: 1px lightgray solid;
    height: 40px;
}
.filter-btn:hover{
    border: 1px black solid;
     color: black;
     cursor: pointer;
     
}


.filter-btn-selected{
    
    display: flex;
    align-items: center;
    padding:15px;
    background-color: white;
   margin: 10px;
    border: 1px aquamarine solid;
     color: aquamarine;
     cursor: pointer;
    height: 40px;
}
.filter-btn-selected:hover{
    
    display: flex;
    align-items: center;
    padding:15px;
    background-color:aquamarine solid;
     color: aquamarine;
   margin: 10px;
    border: 1px aquamarine solid;
     color: gray;
     cursor: pointer;
    height: 40px;
}

.gallery-container{
    padding: 20px;
}

.gallery-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 50px;
    color: rgb(250,250,250);
    opacity: 1;
    transition: .2s;
    transition-timing-function: ease-in-out;
    // z-index: 1000;
}
.gallery-button:hover{
    opacity: .8;
}
.next{
    left: 50px;
    top: 250px;
}
.later{
    right: 50px;
    top: 250px;
}

.modal-btn-right{
    
    // right: 50px;
     top: 250px;
}
.modal-btn-left{
    position: flex;
    // left: 20px;
     top: 250px;
}

.modal-img{
    width: 700px;
    height: 500px;
}

.single-btn-right{
    position: relative;
    z-index: 10;
    top: -120px;
    left: 290px;
    font-size: 40px;
}
.single-btn-left{
    position: relative;
    z-index: 10;
    top: -120px;
    left: 10px;
    font-size: 40px;
}
.photo-section{
   
}

.photo-sec-img{
    object-fit: contain;
    height: 200px;
    width: 200px;

}

.photo-info{
    
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: black 1px solid
}

.titles-sing{
    padding: 0px
}

.heart-me{
    border: none;
    color: rgb(255, 0, 0);
    background: none;
}