.flex {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.flex-col{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    padding: 10px;
    height: 100%;
    

}

.booking-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .booking-title{
        font-size: 50px;
    }
}
.w-1000{
    width: 1000px;
}


.w-300{
    height: 100%;
    margin: 20px;
    border: 1px lightgray solid;
    width: 300px;
    padding: 10px;
}
.booking-single{
    display: flex;
    width: 100%;
    border: 1px lightgray solid;
    padding: 10px;
    justify-content: space-between;
    width: 800px;
    margin: 10px;
}

.amen-checklist{
    margin: 10px;
    align-items: center;
    border: 1px lightgray solid;
    padding: 10px;
    box-sizing: border-box;
    
}
.amen-icon{
    width: 10%;
   
}
.b-top{
    border-top: 1px lightgray solid;
}

.amen-available{
    width: 90%;
}
.h-200{
    height: 200px;
}
.center{
    align-items: center;
}

.profile-container{
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 900px;
}
.content-container{
    text-align: center;
}
.sidebar-profile{
    display: flex;
    width: 250px;
    height: 250px; 
    padding: 10px;
    margin: 20px;
    
}

.sidebar-container{
    flex-direction: column;
    align-items: center;
    background-color: rgb(187, 184, 179);
    left: 10px;
    border: lightgray 1px solid;
    padding: 10px;
    width: 250px;
    
    
}

.profile-links a{
    display: inline-block;
    border-bottom: 3px solid #ebebeb;
    padding: 0;
    text-decoration: none;
    margin-right: 40px;
    font-size: 2rem;
    color: #333333;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.profile-links a:hover{
   
    border-bottom: 3px solid #75ebb4;

    
}
.profile-links a:focus{
   
    border-bottom: 3px solid #75ebb4;

    
}

.profile-links{
    display: flex;
    justify-content: center;
    list-style: none;
    ul{
        list-style: none;
        flex-direction: column;
    }
}